<!-- This is how we include our custom components, like any html tag -->
<app-navigation></app-navigation>

<div class="container">

  <!-- Inside the component we will subscribe to router events and animate page container -->
  <!-- This is a syntax for defining animation: [@animationReference]="someVariable" -->
  <!-- We will use animationReference as animation trigger and 'someVariable' to control in which
  state of animation we are in. -->
  <div class="page" [@pageContainer]="state">

    <!-- Each route has path and component property -->
    <!-- Component defined in each route will be placed inside this router outlet -->
    <!-- This is where different pages will go -->
    <router-outlet></router-outlet>

  </div>

</div>