
<!-- matTooltip is a directive that will display provided text as a tooptip when hovering over its host -->
<h1 matTooltip="Hey, You are hovering over the title!" class="mb-5">
    Welcome to Angular + Angular Material guide!
</h1>

<h2 class="mb-4">So what the heck is an Observable?</h2>

<p>
    First of all, Observable is an object. There's nothing magical about it,  it is just a regular javascript class.
</p>
<p class="mb-5">
    To prove it, here a very simple custom Observable class I made that does the same thing:
</p>
<img src="assets/my-observable.png" alt="My Observable">
<p>
    And here is a fake UsersService using our custom observable:
</p>
<img src="assets/users-service.png" alt="Users Service">
<p>
    And here's how we can use it the same way we use regular services that return observables:
</p>
<img src="assets/get-users.png" alt="Get Users">

