/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.form-group mat-form-field {
    display: block;
    width: 100%;
}
button:focus {
    outline-color: transparent!important;
}